<!doctype html>
<html>
    <h1>It's alive!!</h1>
<body>
    <h3>Welcome page</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. in in magna.</p>

    <%= link_to image_tag('preguica.png'), 'https://web.whatsapp.com/' %>
    <%= image_tag 'preguica.png' %>

<%= link_to 'About', about_path  %>
</body>
</html>


